input {
    margin-left: 20px;
}

h2 {
    padding-bottom: 50px;
}

form {
    clear: both;
    text-align: right;
    line-height: 20px;
}

label {
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
}

.forms {
    float: left
}

.btn {
    margin-top: 30px;
    margin-left: 100px!important;
}

p.checkbox {
    margin-left: 100px;
}


.label_desc{
    display: block;
}
.error{
    display: none;
}
.error_input{
    border: 2px solid #FF0000;
}
