textarea{
    resize: none;
    width: 500px;
}
hr{
    border-color: #a2a2a2!important;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

}
.marks{
    font-size: 25px;
    color:#665959;

}
.voted{
    margin-top: 10px;
    color:#665959;
}
.description{
    position: relative;
}
.tags{
    position: absolute;
    bottom: 0;
    right: 40px;
    text-align:right;
    color:#665959;

}

.panel{
    margin-top: 10px;
    width: 500px;
}
button{
    margin-left: 10px;
    margin-top: 5px;
}

/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}
#reviewStars-input #star-1 {
    left: 53px;
}
#reviewStars-input #star-2 {
    left: 106px;
}
#reviewStars-input #star-3 {
    left: 159px;
}
#reviewStars-input #star-4 {
    left: 212px;
}
#reviewStars-input #star-5 {
    left: 265px;
}