body {
    background-color: #f4ebe3;
    font-family: 'Comfortaa';
}

h2 {
    text-align: center;
    margin-bottom: 10px;

}

.container.body {
    width: 800px;
    background-color: #fdfcfb;
    min-height: 660px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

li {
    color: #d10000!important;
}

.navbar-brand {
    font-family: 'Comfortaa';
    color: #c4c4c4;
    font-size: 24px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #c4c4c4;
}

li>a {
    font-family: 'Comfortaa';
    color: #c4c4c4
}

.navbar-right>li>a:hover,
.navbar-right>li>a:focus {
    background-color: #665959!important;
}

li>a:hover,
li>a:focus {
    background-color: #9b8383!important;
    color: #c4c4c4;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-light {
    background-color: rgb(102, 89, 89)!important;
    border-radius: 0px;
    font-size: 18px!important;
}



.btn-default {
    position: relative;
    margin-left: 350px;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="image"] {
    width: 50px;
    bottom: 60px;
    right: 200px;
    position: fixed;
}

img {
    width: 330px!important;
    border-radius: 15px;
}

.image {
    margin-left: 20px;
    margin-right: -25px;
}

.image>p {
    vertical-align: bottom;
    margin-top: 10px;
    font-family: cursive;
    font-size: 14px;
}

.cosplay{
    vertical-align: top;
    display:inline-block;
    margin-top: 0;
    width: 350px;
    line-height: 20px;
}
.footer {
    padding-top: 15px;
    text-align: right;
    color: #bab8b8;
    font-size: 10px;
    position: relative;
    bottom: 0px;
    float: left;
    width: 100%;
    height: 50px;
    background-color: #7e817e;
}
