img{
    max-width: 250px!important;
    height: auto;
}
#rating, h3{
     font-size: 25px;
    color:#665959;
    text-align: center;
    margin-top: 10px;
}
.thumbnail{
    padding-top: 10px;
    padding-bottom: 10px;
}