body {
    background-color: #f4ebe3;
    font-family: 'Comfortaa';
}

h2 {
    text-align: center;
    margin-bottom: 10px;

}

.container.body {
    width: 800px;
    background-color: #fdfcfb;
    min-height: 660px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-family: 'Comfortaa';
    color: #c4c4c4;
    font-size: 24px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #c4c4c4;
}

li>a {
    font-family: 'Comfortaa';
    color: #c4c4c4
}

.navbar-right>li>a:hover,
.navbar-right>li>a:focus {
    background-color: #665959!important;
}

li>a:hover,
li>a:focus {
    background-color: #9b8383!important;
    color: #c4c4c4;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-light {
    background-color: #665959!important;
    border-radius: 0px;
    font-size: 18px!important;
}
.search{
    width: 770px;
    height: 60px;
    margin-bottom: 10px;
    background-color: #665959;
    border-radius: 0 0 10px 10px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}

.search-query{
    width: 300px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-default {
    height: 30px;
    font-size: 14px;
}

.radio-button>li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    color: #c4c4c4
}

.radio {
    width: 20px;
    height: 20px;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding:0 10px 0 0px;
    margin-right: 15px;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -22px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #9b8383;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .3s;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 20px rgba(93, 57, 124, 0.5);
}

img {
    width: 330px!important;
    height: 450px;
    border-radius: 15px;
}

.image {
    margin-left: 20px;
    margin-right: -25px;
}

.image>p {
    vertical-align: bottom;
    margin-top: 10px;
    font-family: cursive;
    font-size: 14px;
}

.thumbnail{
    min-width: 700px;
}

.cosplay{
    vertical-align: top;
    display:inline-block;
    margin-top: 0;
    margin-right: 30px;
    line-height: 20px;
}
.footer {
    padding-top: 15px;
    text-align: right;
    color: #bab8b8;
    font-size: 10px;
    position: relative;
    bottom: 0px;
    float: left;
    width: 100%;
    height: 50px;
    background-color: #7e817e;
}
