img{
    width: 250px!important;
}
.list-of-cosplay a,.list-of-cosplay  a:before {
  transition: all .4s;
  
}
.list-of-cosplay:hover a {
  opacity: .4;
}
.list-of-cosplay a {
  position: relative;
  display: block;
  max-width: 500px;
  padding: 20px 20px 20px 45px;
  box-sizing: border-box;
  color: #777;
  background: #fAfAfA;
  text-decoration: none;
  font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
}
.list-of-cosplay a:before {
  content: "";
  position: absolute;
  left:0; bottom:0; top:0;
  width: 20px;
  background: #b1b1b1;
}
.list-of-cosplay a:nth-child(even):before {
  background: #665959;
}
.list-of-cosplay a + .list-of-cosplay a {
  border-top: 2px solid #ededed;
}
.list-of-cosplay  a:hover,
.list-of-cosplay  a:focus {
  opacity: 1;
  padding-left: 55px;
}
.list-of-cosplay  a:hover:before,
.list-of-cosplay  a:focus:before {
  width: 30px;
}
.rating p{
    font-size: 25px;
    color:#665959;
    text-align: center;
    margin-top: 10px;
}
#rating{
    font-weight: 700;
}
